@media (width <= 576px) {
    body, html {
        height: 100vh;
        width: 100vw;
        background: url("../assets/index-background.png");

        margin: 0;
        padding: 0;
        border: 0;
        
        overflow-x: hidden;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header > h1 {
        font-size: 2.2rem;
        margin: 20px 0;
        animation: none;
    }

    main {
        margin: 5px;
        padding: 15px;
        width: 90%;
        max-width: 400px;
    }

    .sign-in-top {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
    }

    .sonic-cd, .sade-cd {
        height: 50px;
        width: 50px;
        padding: 44px;
        background-color: black;
        margin: 10px 0;
    }

    #sign-in-header {
        font-size: 1.8rem;
        margin: 10px 10px;
    }

    form {
        width: 100%;
    }

    form > input {
        font-size: 1.2rem;
        padding: 8px;
        margin: 8px 0;
        width: 100%;
        box-sizing: border-box;
    }

    form > input[type="submit"] {
        font-size: 1.5rem;
        padding: 10px;
    }
}