@keyframes dance {
    0%, 50%, 100% { rotate: 0deg; }
    25% { rotate: 30deg; }
    75% { rotate: -30deg; }
}

/*
@keyframes heartbeat {
    0% , 25%, 60%, 100% {
        color: black;
        font-size: 1rem;
    }

    50%, 70% {
        color: lightseagreen;
        font-size: calc(1rem + 5px);
    }
}
*/

header > h1 {
    text-align: center;
    animation: dance 2s infinite;
    margin: 50px 0;
}

main > h2 {
    text-align: center;
    /*animation: heartbeat 0.7s infinite;*/
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form > input {
    margin: 10px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 16px;
}

form > input[type="submit"]:active {
    background-color: black;
}