@font-face {
    font-family: "musical-tone";
    src: local("MusicalTone-7BJ4A.otf"), url("../assets//musical-tone-font/MusicalTone-7BJ4A.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "cause";
    src: local("Cause-Regular.ttf"), url("../assets/Cause/static/Cause-Regular.ttf") format("truetype");
    font-weight: normal;
}

body {
    height: 100vh;
    width: 100vw;

    margin: 0;
    padding: 0;
    border: 0;
    
    overflow-x: hidden;
    overflow-y: scroll;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav > a {
    font-family: "cause";
    font-size: 1.5rem;
    margin: 10px;
    text-decoration: none;
}

nav > a:hover { text-decoration: underline; }

#main-header {
    font-family: "musical-tone";
    font-size: 4rem;
    text-align: center;
    letter-spacing: 5px;
}

.staff {
    height: 300px;
    width: 100vw;
}

#about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 70vw;
    margin: 20px;
}

.my-text > h1, #skills > h1 {
    font-size: 3rem;
    font-family: "musical-tone";
    text-transform: uppercase;
    text-wrap: nowrap;
    transform: rotate(-90deg);
}

.my-text > p {
    text-align: center;
    font-family: "cause";
    font-size: 1.5rem;
}

h2 {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.my-photos {
    margin: 50px;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.my-photos > img {
    height: 250px;
    width: 200px;
    margin: 0 30px;

    border: 20px solid #e36c6c;
    border-radius: 6px;
}

#skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img:nth-child(1) { transform: rotate(-20deg); }
img:nth-child(3) { transform: rotate(20deg); }