@font-face {
    font-family: "musical-tone";
    src: local("MusicalTone-7BJ4A.otf"), url("../assets//musical-tone-font/MusicalTone-7BJ4A.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "cause";
    src: local("Cause-Regular.ttf"), url("../assets/Cause/static/Cause-Regular.ttf") format("truetype");
    font-weight: normal;
}

body {
    height: 100vh;
    width: 100vw;

    margin: 0;
    padding: 0;
    border: 0;
    
    overflow-x: hidden;
    overflow-y: scroll;

    background: url("../assets/background.jpg") no-repeat;
    background-size: cover;
}

header, footer {
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: #FFFFFF;
}

nav > a {
    font-family: "cause";
    font-size: 1.5rem;
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

nav > a:hover { text-decoration: underline; }

#main-header {
    font-family: "musical-tone";
    font-size: 4rem;
    text-align: center;
    letter-spacing: 5px;
    color: #FFFFFF;

    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}

.staff {
    height: 300px;
    width: 100vw;
}

#about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 70vw;
    margin: 20px;
}

.my-text > h1, #skills > h1 { transform: rotate(-90deg); }

section > h1, .my-text > h1 {
    font-size: 3rem;
    font-family: "musical-tone";
    text-transform: uppercase;
    text-wrap: nowrap;
    letter-spacing: 5px;
    color: #FFFFFF;
}

.my-text > p {
    text-align: center;
    font-family: "cause";
    font-size: 1.5rem;
    color: #FFFFFF;
}

h2 {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
}

.my-photos {
    margin: 50px;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.my-photos > img {
    height: 250px;
    width: 200px;
    margin: 0 30px;

    border: 20px solid #FFFFFF;
    border-radius: 6px;
}

img:nth-child(1) { transform: rotate(-20deg); }
img:nth-child(3) { transform: rotate(20deg); }

#skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.skill-tables {
    display: flex;
    justify-content: center;
    align-items: center;
}

table { margin: 0 20px; }

.table-headers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

th { font-size: 1.2rem; }

tr {
    display: flex;
    flex-direction: row;
}

td, th {
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

progress[value] { padding: 10px; }

#projects > h1 { text-align: center; }

.logo {
    height: 100px;
    width: 100px;
}

.repositories {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

