@font-face {
    font-family: "musical-tone";
    src: url("../assets//musical-tone-font/MusicalTone-7BJ4A.otf");
    font-weight: normal;
}

body {
    height: 100vh;
    width: 100vw;

    margin: 0;
    padding: 0;
    border: 0;
    
    overflow-x: hidden;
    overflow-y: scroll;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#main-header {
    font-family: "musical-tone";
    font-size: 3rem;
    text-align: center;
    letter-spacing: 5px;
}

.staff {
    height: 200px;
    width: 100vw;
    background: url("../assets/");
}

#about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-text > h1 {
    font-size: 3rem;
    font-family: "musical-tone";
    text-transform: uppercase;
    transform: rotate(-90deg);

    margin: 10px;
}

.my-text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.my-photos {
    margin: 20px;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.photo {
    height: 200px;
    width: 300px;
    margin: 0 15px;
}