@font-face {
    font-family: "musical-tone";
    src: url("../assets//musical-tone-font/MusicalTone-7BJ4A.otf");
    font-weight: normal;
}

header > h1 {
    font-family: "musical-tone";
    font-size: 3rem;
    letter-spacing: 5px;
}